{% extends "parent.njk" %}

{% block content %}
<div class="row">
  <ul>
    {% for error in old('errors') %}
      <li>{{ error.message }}</li>
    {% endfor %}
  </ul>
  <form method="POST">
    {{ csrfField }}
    <p>Indulás dátuma:</p> <input type="text" class="form-control" name="when" value="{{ telekocsi.when }}"/>
    <p>Ár:</p><input type="text" class="form-control" name="price" value="{{ telekocsi.price }}"/>  
    <p>Szabad ülések:</p><input type="text" class="form-control" name="seats" value="{{ telekocsi.seats }}"/>
    
    <input class="btn btn-default" type="submit" value="Mentés"/>
  </form>
</div>
{% endblock %}