{% extends "parent.njk" %}

{% block content %}
<h3>Legfrissebb hírdetések</h3>
<div class="row">
  {% for i in range(telekocsis.length-9, telekocsis.length) %}
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <a href="/telekocsi/{{ telekocsis[i].id }}">{{ telekocsis[i].fromm }}</a>       
          </div>      
            <ul class="list-group">       
              <li class="list-group-item">
                  Honnan: {{ telekocsis[i].fromm }}<br>Hova: {{ telekocsi.to }}<br>Indulás dátuma: {{ telekocsis[i].when }}<br>Ár: {{ telekocsis[i].price }}<br>Szabad ülések: {{ telekocsis[i].seats }}<br>Hirdető: {{ telekocsis[i].poster }}
              </li>        
          </ul>       
        </div>
      </div>
  {% endfor %}

</div>
{% endblock %}
