{% extends "parent.njk" %}

{% block content %}
<div class="row">
  {% for telekocsi in telekocsis %}
  {% if currentUser.username == telekocsi.poster %}
  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <a href="/telekocsi/{{ telekocsi.id }}">{{ telekocsi.fromm }} -> {{ telekocsi.to }}</a>            
      </div>     
        <ul class="list-group">      
          <li class="list-group-item">
              Indulás dátuma: {{ telekocsi.when }}<br>Ár: {{ telekocsi.price }}<br>Szabad ülések: {{ telekocsi.seats }}<br>
          </li>        
      </ul>       
    </div>
  </div>
  {% endif %}
  {% endfor %}
</div>
{% endblock %}